fastapi
uvicorn
jinja2
python-multipart
python-dotenv

langchain
langchain-google-genai
langchain-core
langgraph
langchain-text-splitters
langgraph-checkpoint-postgres

langchain-postgres
pgvector
psycopg[binary,pool]
pypdf
docx2txt
langchain-tavily
tavily-python

tortoise-orm
asyncpg
aerich